:root {
    --pri-Lime-green: hsl(163, 72%, 41%);
    --pri-Bright-red: hsl(356, 69%, 56%);

    --fb: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --insta: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);

    --Dark-toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --Light-toggle: hsl(230, 22%, 74%);

    --Light-BG: hsl(0, 0%, 100%);
    --Light-Top-BG-Pattern: hsl(225, 100%, 98%);
    --Light-Card-Bg: hsl(227, 47%, 96%);
    --Light-Text: hsl(228, 12%, 44%);
    --Light-Dark-blue-Text: hsl(230, 17%, 14%);

    --Dark-BG: hsl(230, 17%, 14%);
    --Dark-Top-BG-Pattern: hsl(232, 19%, 15%);
    --Dark-Card-Bg: hsl(228, 28%, 20%);
    --Dark-Text: hsl(228, 34%, 66%);
    --Dark-White-Text: hsl(0, 0%, 100%);

    --ff: 'Inter', serif;
    --fw400: 400;
    --fw700: 700;
}


* {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

picture,
img,
svg {
    display: block;
    max-width: 100%;
}

html,
body {
    height: 100%;
}

/**********
Genral styling
*********/

body {
    background-color: var(--Dark-BG);
    font-family: var(--ff);
    font-weight: var(--fw700);
}


/*********
Title-div
*********/
.title-div {
    display: flex;
    padding: 1rem;
    align-items: center;
    color: var(--Dark-Text);
}

.title {
    color: var(--Dark-White-Text);
}


/**************
Toggle Mode pill
*****************/
.toggle {
    width: 50px;
    height: 20px;
    display: inline-block;
}

#toggle-input {
    width: 40px;
    height: 20px;
    display: none;
}

.toggle-pill {
    border: 2px solid gray;
    position: relative;
    width: 50px;
    height: 20px;
    margin: 0 .5rem;
    border-radius: 1rem;

    background-image: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}


.toggle-pill::after {
    position: absolute;
    margin: 1px 2px;
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: black;
}

#toggle-input:checked~.toggle-pill {
    background-image: none;
    background-color: hsl(230, 22%, 74%);
}

#toggle-input:checked~.toggle-pill::after {
    right: 0;
    background-color: var(--Dark-White-Text);
}


/******
Social Media Cards
*******/

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: .2rem;
    margin:.5rem ;
    padding: 1.5rem;
}

.fb {
    border-top: 4px solid var(--fb);
}

.twitter {
    border-top: 4px solid var(--twitter);
}

.insta {
    background: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-color: var(--Dark-Card-Bg);
}

.youtube {
    border-top: 4px solid var(--youtube);
}


/*********
Id Div
**********/

.id {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}

.id span {
    margin: .5rem;
}

/********
Followers
********/
.followers {
    font-size: 3rem;
}

.followers-text {
    letter-spacing: .2rem;
}

/********
Today - div
*******/
.today {
    color: var(--pri-Lime-green);
    display: flex;
    align-items: center;
    justify-content: center;
}

.today span {
    margin: .5rem;
}




/*****
overview-today
*****/

.overview {
    color: var(--Dark-White-Text);
    padding: 1rem;
}

.overview-card {
    margin: 1rem;
    border-radius: .4rem;
    padding: 1rem;
}


.flex-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.num {
    font-size: 2rem;
}

.percent {
    font-size: .8rem;
    display: inline-flex;
    align-items: end;
}


/***********
Percentage arrow icon 
***********/
.percent[data-icon='up'] {
    color: var(--pri-Lime-green);
}

.percent[data-icon='down'] {
    color: var(--pri-Bright-red);
}

.percent[data-icon='up']::before {
    content: '';
    height: 15px;
    width: 15px;
    background: url(./images/icon-up.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.percent[data-icon='down']::before {
    content: '';
    height: 15px;
    width: 15px;
    background: url(./images/icon-down.svg);
    background-repeat: no-repeat;
    background-position: center;
}



/********
dark mode
********/


.card-bg {
    background-color: var(--Dark-Card-Bg);
    color: var(--Dark-Text);
}

.card-num {
    color: var(--Dark-White-Text);
}

/*******
light-mode
********/

.light-mode {
    background-color: var(--Light-BG);
}

.light-bg {
    background-color: var(--Light-Card-Bg);
}

.light-num {
    color: var(--Light-Dark-blue-Text);
}

.title-color {
    color: var(--Light-Dark-blue-Text);
}



/*******
HOVER
*******/


.toggle-pill:hover {
    cursor: pointer;
}

.card:hover {
    cursor: pointer;
    background-color: hsl(230, 22%, 74%);
}

.overview-card:hover {
    background-color: hsl(230, 22%, 74%);
}



/***********
media quories
************/




/******
SMALL
******/
@media (max-width:799px){
    .title-div{
        flex-direction: column;
    }
    .title-div div p{
        padding-bottom: 1rem;
    }
    .mode{
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid gray;
        padding-top: 1rem;
    }
}



/***********
LARGE
**********/
@media (min-width:800px) {
    
    .wrapper{
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .mode {
        display: flex;
        margin-left: auto;
    }
   
    .overall-media {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: .5rem;
    }

    .overview-cont {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
}